<div class="container">    
    <span [ngClass]="{'container-list__catecory': !isSelected(1), 'container-list__newCatecory': isSelected(1)}" (click)="selectItem(1)" > Pratos</span>
    <span [ngClass]="{'container-list__catecory': !isSelected(2), 'container-list__newCatecory': isSelected(2)}" (click)="selectItem(2)"> Monte seu prato</span>
    <span [ngClass]="{'container-list__catecory': !isSelected(3), 'container-list__newCatecory': isSelected(3)}" (click)="selectItem(3)"> Cervejas e Chopp</span>
    <span [ngClass]="{'container-list__catecory': !isSelected(4), 'container-list__newCatecory': isSelected(4)}" (click)="selectItem(4)"> Destilados dose & Caipirinhas </span>
    <span [ngClass]="{'container-list__catecory': !isSelected(5), 'container-list__newCatecory': isSelected(5)}" (click)="selectItem(5)"> Smoothies & Sobremesa </span>
    <span [ngClass]="{'container-list__catecory': !isSelected(6), 'container-list__newCatecory': isSelected(6)}" (click)="selectItem(6)"> Kalzones </span>
    <span [ngClass]="{'container-list__catecory': !isSelected(7), 'container-list__newCatecory': isSelected(7)}" (click)="selectItem(7)"> Bebidas em geral </span>
    <span [ngClass]="{'container-list__catecory': !isSelected(8), 'container-list__newCatecory': isSelected(8)}" (click)="selectItem(8)"> Combos </span>
</div> 
