.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-sales__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border-left: solid;
    border-bottom: solid;

}
.container-sales__ul__li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 24%;
    font-weight: 600;
}


@media (max-width:800px) {
    .container-sales__ul__li{
      font-size: 13px;
    }
 }