<div class="container">
    <div class="container-sales" *ngIf="resultValue">
        <div *ngFor="let result of resultValue.order">
            <ul class="container-sales__ul" >
                <li class="container-sales__ul__li" >{{result.product.name}}</li>
                <li class="container-sales__ul__li"> {{result.product.price}}</li>
                <li class="container-sales__ul__li">{{result.quantity}}</li>
                <li class="container-sales__ul__li">{{result.price  | number: '1.2-2'}}</li>
            </ul>
        </div>
    </div>
</div>

   