.container{
    width: 100px;
    height: auto;
    cursor: pointer;
    }

.container-img {
    height: 65px;
 }
 .container-img img{
    max-width: 100px;
    max-height: 65px;
    }
    .container-text{
        max-width: 100px;
        font-size: 13px;
        text-align: center;
    }