<div class="container">
    <div class="container-box">
        <div class="container-box__adicionar">
            <button type="button" class="container-box__adicionar__menos"> -1</button>
            <input type="text" placeholder="quantidade" class="container-box__adicionar__input">
            <button type="button" class="container-box__adicionar__mais">+1</button>
        </div>
        <div class="container-box__product">
            <p>Produto:</p>
            <p>quantidade: </p>
            <p>valor: </p>
        </div>
        <div class="container-box__fazerPedido">
            <button type="button" class="container-box__fazerPedido__cancelar">cancelar</button>
            <button type="button" class="container-box__fazerPedido__concluir"> concluir</button>
        </div>
    </div>
</div>
