.container{
    padding: 10px;
    background-color: green;
    width: 400px;
    height: 195px;
}

.container-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-box__adicionar{
    padding: 5px;
    height: 20%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}
.container-box__adicionar__mais{
   width: 20%;
   background-color: red;
}

.container-box__adicionar__input{
background-color: aqua;
width: 25%;
}

.container-box__adicionar__menos{
    width: 20%;
    background-color: pink;
}

.container-box__product{
    justify-content: space-around;
}
.container-box__product p{
    padding: 4px;
}


.container-box__fazerPedido{
    padding: 5px;
    height: 20%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.container-box__fazerPedido__concluir{
    width: 40%;
   background-color: red;
}

.container-box__fazerPedido__cancelar{
    width: 40%;
    background-color: pink;
}
