.container{
    padding: 2%;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.container-product{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container-product p{
    font-weight: bold;
}
.container-quantity{
    display: flex;
    align-items: end;
    width: 200px;
    height: 40px;
}
.container-quantity__less{
    height: 80%;
    width: 40px;
    border-radius: 6px;
    cursor: pointer;
}
.container-quantity__quantity{
    padding-left: 0;
    text-align: center;
    margin: 0 7px 0 7px;
    width: 50px;
    height: 80%;
}
.container-quantity__more{
    border-radius: 6px;
    width: 40px;
    height: 80%;
    cursor: pointer;
}