.container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .container-left-input {
    text-align: end;
    width: 50%;
  }
  
  .container-left-input__search {
    padding: 10px;
    width: 90%;
    height: 30px;
  }
  
  
  @media (max-width: 750px) {
    .container-left-input {
      text-align: center;
      width: 90%;
    }
  
    .container-left-input__search {
      width: 55%;
    }
  }
  