<div class="container">
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
    <app-component-box></app-component-box>
</div>