<div class="container">
    <div class="container-search">
        <input    [(ngModel)]="valorInput" type="text" class="container-search__input">
        <div class="container-search-img">
            <img class="container-search-img__img" src="./../../../../assets/img/lupa.svg" alt="Search" (click)="pegaCommand(valorInput)">
        </div>
    </div>
     <div class="container-result">
        <ng-container *ngIf="commandEncontrado; else semResultado">
          <p class="container-result__nameCommand">✧ {{ commandEncontrado.client.name }}</p>
          <p class="container-result__codCommand">✧ {{ commandEncontrado.id }}</p>
        </ng-container>
        <ng-template #semResultado>
          <p class="container-result__nameCommand">✧ </p>
          <p class="container-result__nameCommand">✧ </p>
        </ng-template>
      </div>
</div>

