.container{
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 5px;
}
.container-search{
display: flex;
flex-direction: row;
padding: 5px;
}
.container-search__input{
width: 100%;
}

.container-search-img{
    cursor: pointer;
}

.container-search-img__img{
    width: 35px;
    height: 20px;
}

@media (max-width:755px){
    .container-result{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}