.container{
    display: flex; 
    height: 50px;  
    align-items: center;}
.container-list__catecory{
    padding: 10px 0 10px 0 ;
    cursor: pointer;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    width: auto;
    margin: 0 10px 0 10px;
}
.container-list__newCatecory{
    font-weight: 500;
    color: aliceblue;
    text-align: center;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    width: auto;
    background-color: #0da2ff;
    margin: 0 10px 0 10px;
}