.container-right-logo{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.container-right-logo__img{
    padding: 5px;
    width: 40px;
    height: 30px;
}
.container-right-logo p{
    font-size: 20px;
}