<div class="container">
    <div class="container-left-carrinho-img"  [ngClass]="{'menu-aberto': menuAberto}">
        <img src="./../../../../../assets/img/carrinho-de-compras.png" alt="carrinho" class="container-left-carrinho__img" (click)="toggleMenu()">
    <div class="carrinho" >
        <P (click)="fecharMenu()">X</P>
        <app-carrinho></app-carrinho>
    </div>   
</div>
    <div class="container__header">
        <app-category-list></app-category-list>
    </div>
    <div class="container__main">
        <div class="container-menu-product">
            <menu-product-menu></menu-product-menu>
        </div>
    </div>
</div>
