.container{
    display: flex;
    flex-direction: column;
}
.container__header{
    align-self: center;
    width: max-content;
    height:80px;
}
.container-left-carrinho-img {
    padding: 1% 2% 1% 1%;
    align-self: end;
    display: flex;
    position: relative;
}

.carrinho {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background-color: #fff;
    z-index: 999;
    transition: transform 0.3s;
    transform: translateX(100%);
}

.menu-aberto .carrinho {
    transform: translateX(0);
}

.container__main{
    display: flex;
    flex-direction: row;
   
}

.container-box-order{
    width: 25%;
}

@media ( max-width: 900px ){
    .container__header{
        width: 100%;
        overflow-x:auto ;
    }
}


/*@media  (max-width: 600px) {
    .container__main{
        padding: 0;
    }
    .container-menu-product{
        width: 60%;
    }
    .container-box-order{
        width: 40%;
    }
}*/