<div class="container">
    <div class="container-left-carrinho-img"  [ngClass]="{'menu-aberto': menuAberto}">
        <img src="assets/img/carrinho-de-compras.png" alt="carrinho" class="container-left-carrinho__img" (click)="toggleMenu()"/>
    <div class="carrinho" >
        <div class="carrinho-img"> 
            <img class="carrinho-img__cloused" src="assets/img/excluir.png" (click)="fecharMenu()"/>
        </div>
        <app-carrinho></app-carrinho>
    </div>   
</div>
    <div class="container__header">
        <app-category-list></app-category-list>
    </div>
    <div class="container__main">
        <div class="container-menu-product">
            <app-products-box-right [produtosBox]="getProdutosFiltrados() "></app-products-box-right>  
        </div>
    </div>
</div>
