.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-checkbox{
    justify-content: center;
    display: flex;
    margin-right: 70px;
}
.container-checkbox__label{
    padding: 10px;
    margin-bottom: 50px;
}
.container-return-type{
    align-self: center;
    width: 30%;
    margin-bottom: 50px;
}
.container-return-type__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-return-type__li{
    padding: 10px 14px 10px 14px;
    width: auto;
    font-size: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.container-return-type__li__click{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    width: auto;
    background-color: #0da2ff;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.container-client{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border: solid;
    margin-bottom: 50px;
}
.container-client__attributes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 16%;
    font-weight: 600;
}
.container-sales-summedUp__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
.container-sales-summedUp__ul__li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 24%;
    font-weight: 600;
}
.container-sales-detailed__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
.container-sales-detailed__ul__li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 24%;
    font-weight: 600;
}