<div class="container">
    <div class="container-checkbox">
        <label class="container-checkbox__label" (change)="updateCheckboxes(1)" >
            <input class="container-checkbox__input" [(ngModel)]="checkboxCPF"  type="checkbox">
            CPF
        </label>
        <label class="container-checkbox__label"  (change)="updateCheckboxes(2)"  >
            <input class="container-checkbox__input" [(ngModel)]="checkboxName"  type="checkbox">
            Nome
        </label>
        <label class="container-checkbox__label"   (change)="updateCheckboxes(3)">
            <input class="container-checkbox__input" [(ngModel)]="checkboxIdCommand"  type="checkbox"> 
            Numero Comanda
        </label>
    </div>
    <div class="container-button-buscar">
        <button class="container-button-buscar__buscar" (click)="buscarDados()">
            Buscar
        </button>
    </div>
    <div class="container-return-type">
        <ul class="container-return-type__ul">
            <li [ngClass]="{'container-return-type__li' : !isSelectedType('resumido'), 'container-return-type__li__click' : isSelectedType('resumido')}"
                (click)="selectType('resumido')"
                (click)="showPedidoResumido()">
                Resumido
            </li>
            <li [ngClass]="{'container-return-type__li' : !isSelectedType('detalhado'), 'container-return-type__li__click' : isSelectedType('detalhado')}"
                (click)="selectType('detalhado')"
                (click)="showPedidoDetalhado()">
                Detalhado
            </li>
        </ul>
    </div>

    <div class="container-client" *ngIf="resultDetalhado || resultadoResumido">
        <ul class="container-client-static">
            <li class="container-client__attributes"> Numero da comanda:</li>
            <li class="container-client__attributes"> Nome:</li>
            <li class="container-client__attributes"> CPF:</li>
            <li class="container-client__attributes"> Contato:</li>
            <li class="container-client__attributes"> Entrada:</li>
            <li class="container-client__attributes"> Valor total:</li>
        </ul>
        <ul class="container-client-date">
            <li class="container-client__attributes">{{resultDetalhado[0].commands.id}}</li>
            <li class="container-client__attributes">{{resultDetalhado[0].commands.client.name}}</li>
            <li class="container-client__attributes">{{resultDetalhado[0].commands.client.cpf}}</li>
            <li class="container-client__attributes">{{resultDetalhado[0].commands.client.contact}}</li>
            <li class="container-client__attributes">{{resultDetalhado[0].commands.entry}}</li>
            <li class="container-client__attributes">{{resultadoResumido.fullValue}}</li>
        </ul>
    </div>
    
    <div class="container-result">
        <div *ngIf="mostrarPedidoResumido">
            <ul class="container-sales-summedUp__ul">
                <li class="container-sales-summedUp__ul__li">Nome:</li>
                <li class="container-sales-summedUp__ul__li"> Preço Unidade:</li>
                <li class="container-sales-summedUp__ul__li">Quantidade:</li>
                <li class="container-sales-summedUp__ul__li">Valor Total:</li>
            </ul>
            <app-summed-up [resultValue]="resultadoResumido"></app-summed-up>
        </div>
        <div *ngIf="mostrarPedidoDetalhado">
            <ul class="container-sales-detailed__ul">
                <li class="container-sales-detailed__ul__li">Nome:</li>
                <li class="container-sales-detailed__ul__li"> Preço Unidade:</li>
                <li class="container-sales-detailed__ul__li">Quantidade:</li>
                <li class="container-sales-detailed__ul__li">Valor Total:</li>
                <li class="container-sales-detailed__ul__li">Vendedor:</li>
            </ul>
        <app-detailed [resultDetalhado]="resultDetalhado"></app-detailed>
        </div>
    </div>
</div>
