.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-checkbox{
    justify-content: center;
    display: flex;
}
.container-checkbox__label{
    padding: 10px;
    margin-bottom: 10px;
}
.container-button-buscar{
    display: flex;
    align-self: center;
    margin-bottom: 50px;
}
.container-button-buscar__buscar{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    width: auto;
    background-color: #0da2ff;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.container-return-type{
    align-self: center;
    width: 30%;
    margin-bottom: 50px;
}
.container-return-type__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container-return-type__li{
    padding: 10px 14px 10px 14px;
    width: auto;
    font-size: 20px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.container-return-type__li__click{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    padding: 10px 14px 10px 14px;
    border-radius: 10px;
    width: auto;
    background-color: #0da2ff;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.container-client-static{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border: solid;
    border-bottom: none;
}
.container-client{
    margin-bottom: 50px;
}
.container-client-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border: solid;
}
.container-client__attributes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 16%;
    font-weight: 600;
}
.container-sales-summedUp__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
.container-sales-summedUp__ul__li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 24%;
    font-weight: 600;
}
.container-sales-detailed__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b4bccc;
    height: 50px;
    align-items: center;
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}
.container-sales-detailed__ul__li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: solid;
    font-size: 18px;
    text-align: center;
    width: 24%;
    font-weight: 600;
}

@media (max-width:800px) {
    .container-client__attributes{
        font-size: 13px;
    }
    .container-sales-summedUp__ul__li{
        font-size: 13px;
    }
    .container-sales-detailed__ul__li{
        font-size: 13px;
    }
}
@media (max-width:600px) {
    .container-client{
        width: auto;
        overflow-x: auto;
        margin-bottom: 50px;
    }
    .container-client-static{
        width: 600px;
    }
    .container-client-date{
        width: 600px;
    }
}
@media (max-width:460px) {
    .container-result{
        overflow-x: auto;
    }
    .container-result-summedUp__ul__interno{
        width: 450px;
    }
    .container-result-detailed__ul__interno{
        width: 450px;
    }
}
