.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container app-products-box-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px 5px 0;
   
}



