*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color:#D8E3F7;  
    padding: 1%;
  }
input{
    border-radius: 7px;
    border: none;
    background-color: rgb(232, 230, 230);
    padding-left: 10px;
}
input :focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
button{
    background:linear-gradient(to right,#007DFF, #00ACFF) ;
    border: none;
}




