
<p>search works!</p>
<p>fazer um check box com numero da comanda, nome, cpf</p>
<p>assim que escolher o inpt vai fazer a busca pelo valor atribuido</p>
<p>assim criando um campo com os dados do cliente junto da comanda, e apos um tabela com suas vendas sendo que cada linha da tabela vai se referir a uma venda</p>
<p>lembrando que eu ja consigo pegar a rota pelo o input cabe a mim fazer um observable diferente para cada um deles .</p>
<p>porem deve se perguntar . fazer a busca com click ou igual a do produto EX(VAI DIGITANDO E VAI APARECENDO VALORES RELACIONADOS)?</p>