.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.container-left{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.container-left app-search-product{
    width: 100%;
}
.container-right{
    width: 30%;
}