<div class="container">
    <div class="cantainer-busca">
        <div class="container-busca__text">
            <p>Buscar por Comanda</p>
        </div>
        <div class="container-busca__input">
            <input class="container-busca__input__search">
        </div>
        <div class="container-busca__button">
            <button class="container-busca__button__search">Buscar</button>
        </div>
    </div>
    <div class="container-client">
        <p class="container-client__name">clientX</p>

        <p class="container-client__command">comanda</p> 
    </div>
</div>

