<div class="container">
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
    <app-products-box-right></app-products-box-right>
</div>

